* {
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

header {
    text-align: center;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

table {
    border: 1px royalblue solid;
    border-collapse: collapse;
    margin: 5px;
}

table th {
    border-bottom: 1px royalblue solid;
}

table td {
    padding: 5px;
}

tr:nth-child(even) {
    background-color: lightgreen;
}

form {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    margin: 5px;
}

form header {
    width: 100%;
    background-color: teal;
    color: white;
    font-weight: 500;
    border-bottom: 1px teal solid;
}

form button {
    margin: 10px;
    align-self: center;
}

label {
    margin-right: 10px;
    font-weight: 500;
}

input:not([type="submit"]) {
    background-color: lightyellow;
}

.input {
    display: flex;
    justify-content: space-between;
    padding: 5px 5px 0;
}
